@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.boton-izquierda {
  margin-top: 220px;
  margin-right: 340px;
}

.boton-derecha {
  margin-top: 220px;
  margin-left: -100px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  z-index: 1001;
  max-width: 90%;
  width: 400px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modal-container button {
  margin-top: 100px;
  margin-right: 10px;
  min-width: 100px;
}

.deleteText {
  margin-top: 50px;
  font-size: 20px;
  margin-bottom: -50px;
}

.down {
  margin-top: -20px;
}

.inferior {
  margin-bottom: -70px;
}

.supplies-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.supplies-card:hover {
  background-color: #e0e0e0;
}

.toggle-icon {
  font-size: 24px;
  margin-right: 10px;
  transition: transform 0.3s ease-in-out;
}

.inactive .toggle-icon {
  transform: translateX(100%);
  color: gray;
}

.estado-icon {
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  cursor: pointer;
}

.estado-icon.active {
  color: rgba(232, 120, 0, 0.819);
}

.estado-icon.inactive {
  color: gray;
}

.contenedor {
  padding: 20px;
}

.text-3xl {
  font-size: 1.875rem;
}

.bg-orange-500 {
  background-color: #ff9800;
}

.bg-orange-700 {
  background-color: #f57c00;
}

.text-orange-500 {
  color: #ff9800;
}

.text-orange-700 {
  color: #f57c00;
}

.border-2 {
  border-width: 2px;
}

.border-gray-800 {
  border-color: #2c3e50;
}

.rounded-lg {
  border-radius: 8px;
}

.table-auto {
  width: auto;
}

.text-white {
  color: white;
}

.text-gray-400 {
  color: #ccc;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.table-custom {
  border-collapse: collapse;
}

.table-custom th, .table-custom td {
  border: none;
}

.table-custom th {
  border-bottom: 1px solid #201E1E;
}

.table-custom td {
  border-bottom: 1px solid #201E1E;
}
