
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 1001;
    max-width: 90%;
    width: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .modal-container button {
    margin-top: 100px;
    margin-right: 10px;
    min-width: 100px;
  }